# vscode
.vscode 

# npm
node_modules

# Don't include the build output in the repo.
# It should be uploaded to GitHub releases instead.
# The css source is src/styles.css.
main.js
styles.css

# Exclude sourcemaps
*.map

# obsidian
data.json
